body{
    position: sticky;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: lightblue;
}
nav{
   
    text-align: center;
    color: darkseagreen;
    background-color:#333300;
    font-family: 'Lilita One', cursive;
    padding-top: 10px;
    font-size: large;
    padding-bottom: 1%;
}
#searchinput{
    background: darkseagreen;
    color: whitesmoke;
    border: 4px lightblue;
    border-radius: 8px;
    transition: width 0.4s ease-in-out;

}
.welcomeheading{
    text-align: center;
    text-decoration: solid;
    color:#333300;
}

#signInDiv{
    padding-left: 40%;
}

.containerinput{
margin-left: 40%;
 display: block;
 flex-direction: column;
 align-self: center;
 
}
#searchinput{
    width: 25vh;
    height: 3vh;
}

#inputbtn{
    background-color: #333300;
    color: darkseagreen;
    width: 10vh;
    border-radius: 10%;
    
}


.parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    padding-top: 3%;
}
.cardimg{
    margin: 5px auto 5px auto;
    
   
         width: 80%;
         height: 50%;
         padding-left: 10%;
}
        
h3{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

.card{
    display: block;
   
    font-size: 12px;
    border: black solid 2px;
    border-radius: 3%;
    padding: 1%;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    background-color: antiquewhite;
    margin:0 auto 20px;
    
   
   
}


@media screen and (max-width:1200px) {
    .parent{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
        padding-top: 3%;
    }
}
@media screen and (max-width:950px) {
    .parent{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        margin: 0 auto;
        padding-top: 3%;
    }
}
@media screen and (max-width:450px) {
    .parent{
        display: grid;
        grid-template-columns: 1fr ;
        margin: 0 auto;
        padding-top: 3%;
    }
}
.flipbtn{
    background-color: antiquewhite;
    border: lightblue solid 2px;
    align-self: center;
    justify-content: center;
    margin-left: 30%;
}



